RewriteEngine On

# 1. Map /about-us to about-us.html
RewriteRule ^about-us/?$ about-us.html [L,QSA]

# 2. Map /contact-us to contact-us.html
RewriteRule ^contact-us/?$ contact-us.html [L,QSA]
RewriteRule ^guide/?$ guide.html [L,QSA]
RewriteRule ^coloring-pages/?$ coloring-pages.html [L,QSA]
